.delete-btn {
  visibility: hidden;
  margin-left: 12px;
  transition: 0.8;
}

.table-row:hover .delete-btn {
  visibility: visible;
}

.logo {
  width: 169px;
  display: block;
  margin: 25px auto;
}